
/* mobile divces responsive */
@media screen and (max-width:576px){

    .nav-container{
        flex-direction: column;
        
    }

    .nav-heading,
    .nav-context,
    .banner-container,
    .banner-context-section,
    .banner-img-section,
    .logo-container
    {
    
        width: 100%;
        text-align: center;
        flex-direction: column;
        
      }
    
      .nav-context a{
        margin-bottom: 10px;
    }

    .logo-container span{
        margin-bottom: 20px;
    }

    .grid-card-container {
  
     grid-template-columns: 1fr;
    
      }

      .features-producets-container{
        flex-direction: column;
      }

      .features-img-container{
        width: 100%;
        text-align: center;
      }
  .features-context{
    width: 100%;
  }
}





/* tablet divces responsive */

@media screen and (min-width:577px) and (max-width:900px){

    .nav-container,
    .logo-container{
        flex-direction: column;
        
    }

    .nav-heading,
    .nav-context{
    
        width: 100%;
        text-align: center;
        
    }
    .banner-container{
        flex-direction: column-reverse;
    }

    .banner-context-section{
      width: 100%;
    }

    .logo-container span{
        margin-bottom: 20px;
    }

    .grid-card-container {
    
     grid-template-columns: repeat(2, 1fr);
              
      }

      .features-producets-container{
        flex-direction: column;
      }

      .features-img-container{
        width: 100%;
        text-align: center;
      }
  .features-context{
    width: 100%;
  }


}