@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}


*{
    box-sizing: border-box;
}

/* nav secton styles start here */
.nav-container{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.nav-heading{
       width: 50%;
    
}
.nav-heading p{
    font-size: 24px;
   color:#3A3A3A;
    font-weight: 700;
}

.nav-context{
    width: 50%;
    display: flex;
    justify-content: space-between;

}
.nav-context a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
/* nav secton styles end here */

/* banner secton styles start here */
  .banner-container{
    max-width: 1250px;
    margin:20px auto;
    display: flex;
    align-items: center;


  }
  .banner-context-section{
    width: 50%;

  }
  .banner-context-section >h1{
    color: #3A3A3A;
    font-weight: 700;
    line-height: 40px; 
  }
  .banner-context-section > p{
    font-size: 16px;
    color: #3A3A3A;
    font-weight: 600;
  }
  .banner-btn{
    width: fit-content;
    padding: 10px 24px;
    border-radius: 50px;
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    
  }
  .banner-img-section{
    width: 50%;
    text-align: center;
  }
   
  .img-circle{
    position: relative;
    
  }
  .img-main-camera{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
/* banner secton styles end here */


/* logo secton styles start here */

.logo-container{
 
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  
}

/* logo secton styles end here */

/* card secton styles start here */

.card-container{
  max-width: 1150px;
  margin: 100px auto;

}
.populer-heading{
  text-align: center;
  font-size: 28px;
  color:#3A3A3A;
   font-weight: 600;
}
.grid-card-container {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; 
  padding: 16px; 
 
  
}

.card-one{
  border-radius: 5px;
  padding: 10px;
  background: #FFF;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.card-one img{
  width: 100%;
  
}

.checked{
  color: yellow;
}

.card-tittle{
  font-size: 28px;
  color:#18191F;
  font-weight: 500;
}
.price{
  font-size: 24px;
  color:#3A3A3A;
  font-weight: 400;
}
.card-descroption{
  font-size: 14px;
  color: #787885;
  font-weight: 700;
}

/* card secton styles end here */

/* features producets section design  start here */

.features-producets-container{
  max-width: 1250px;
  margin: 30px auto;
  display: flex;
  align-items: center;
}

.features-img-container{

 width: 50%;
 text-align: center;
}
.features-context{
  
  width: 50%;
}

.features-tittle{
  font-size: 38px;
  color: #18191F;
  font-weight: 700;
  line-height: 60px;
}

.features-description{
 
  color: #6C6C6C;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;

}
.features-btn{
  background: #E02C6D;
  width: fit-content;
  padding: 10px 24px;
  color: #FFF;
  

}


/* features producets section design  end here */

/* footer section design  start here */

.footer-container{
 max-width: 1250px;
 margin: 40px auto 0px auto;
 background-color: #18191F;
 padding: 15px;
  
 
}

.footer-context{
  
  text-align: center;
 

}
.footer-tittle{
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  } 
  .footer-context p{
    color:#D9DBE1;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; 
  }
.fotter-logo-container{
 
 margin-bottom: 20px;
  
  
}

/* footer section design  end */