
/* mobile divces responsive */
@media screen and (max-width:576px){

    .nav-container{
        flex-direction: column;
        
    }

    .nav-heading,
    .nav-context{
    
        width: 100%;
        text-align: center;
        flex-direction: column;
        
      }

      .nav-context a{
        margin-bottom: 10px;
    }

}





/* tablet divces responsive */

@media screen and (min-width:577px) and (max-width:900px){

    .nav-container{
        flex-direction: column;
        
    }

    .nav-heading,
    .nav-context{
    
        width: 100%;
        text-align: center;
        
    }


}